<h1>Login</h1>
<div class="card">
    <div class="card-body">
        <form action="/usuario/login" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id="" class="form-control">
            
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="" class="form-control">

            <button type="submit" class="btn btn-success form-control mt-4">Login</button>
        </form>
    </div>
</div>